{% load static %}

{% block footer %}
<footer class="footer text-faded d-grid d-sm-flex justify-content-sm-center align-items-center py-2 px-4">
  <div class="footer-left container mt-4 px-4">
    <a class="footer-name" href="{% url 'home' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">
      <span class="m-2 font-monospace fw-semibold fs-5">Jairodv</span>
    </a>
    <div class="container">
      <ul class="footer-links py-2">
        <li class="footer-item py-2 {% if request.path == '/' %}active{% endif %} px-lg-4"><a class="footer-link"
            href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="footer-item py-2 {% if request.path == '/servicios/' %}active{% endif %} px-lg-4"><a class="footer-link"
            href="{% url 'servicios' %}">Servicios</a>
        </li>
        <li class="footer-item py-2 {% if request.path == '/tienda/' %}active{% endif %} px-lg-4"><a
            class="footer-link" href="{% url 'tienda' %}">Tienda</a>
        </li>
        <li class="footer-item py-2 {% if request.path == '/contacto/' %}active{% endif %} px-lg-4"><a
            class="footer-link" href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li class="footer-item py-2 {% if request.path == '/blog/' %}active{% endif %} px-lg-4"><a
          class="footer-link" href="{% url 'blog' %}">Blog</a>
      </li>
      </ul>
    </div>

  </div>
  <div class="footer-rigth container text-center mt-4">
    <div class="text-center d-flex justify-content-evenly">
      <a href="https://twitter.com/Jairodv_" target="_blank" class="text-decoration-none fs-2">
        <i class="bi bi-twitter text-dark"></i>
      </a>
      <a href="https://www.linkedin.com/in/jhondueñas" target="_blank" class="text-decoration-none fs-2">
        <i class="bi bi-linkedin text-dark"></i>
      </a>
      <a href="https://github.com/JairoDuenas" target="_blank" class="text-decoration-none fs-2">
        <i class="bi bi-github text-dark"></i>
      </a>
    </div>
    <div class="container w-50 text-center ">
      <p class="text-center text-white mt-4">Copyright &copy; Jairo Dueñas 2023</p>
    </div>
  </div>
</footer>
{% endblock footer %}