{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% load static %}

{% block content %}

<!-- Heading -->
<div class="container-fluid p-0 text-light">
  <form method="POST" action="">
    {% csrf_token %}
    {% if messages %}
    {% for mensaje in messages %}
    <div class="container text-center py-4">
      <div class="alert alert-warning {{mensaje.tags}}">
        {{mensaje}}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="text-center py-4 bg-dark bg-gradient">
      <h2 class="py-2">Ingrese sus datos de usuario</h2>
      {{ form.as_p }}
      <div class="container text-center py-4">
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </div>
    </div>
  </form>
</div>
<!-- Message -->

{% endblock %}